@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dot-background {
  background-color: white; /* Base color */
  background-image: radial-gradient(rgb(227, 217, 196) 10%, transparent 10%);
  background-size: 16px 16px; /* Adjust dot spacing */
}
